/* Global styles
   Using the * selector is considered a bad practice in typical web
   development, but it doesn't really matter here.
*/
* {
    margin: 0;
    max-width: 100%;
    font-family: "Roboto Mono", "Helvetica Neue", Helvetica, Arial, sans-serif;
    border: 1px solid #282b30;
}

table {
    width: 100%;
    height: 100%;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    color: rgba(255, 255, 255, 0.85);
}

/* Hide unused table columns */
td:nth-child(1),
td:nth-child(4) {
    display: none;
}

/* Line number column */
.diff_header {
    width: 39px;
    padding: 0px 3px 0px 5px;
    text-align: center;
}

/* Table rows */
table tr {
    background-color: #2e3136;
}

/* Alternate table row colors */
table tr:nth-child(even) {
    background-color: #35383c;
}

/* Table data */
td {
    padding: 8px;
}

.diff_add,
.diff_sub,
.diff_chg,
.diff_next {
    color: #fff;
}

.diff_add {
    background-color: #4caf50;
}

.diff_sub {
    background-color: #f44336;
}

.diff_chg {
    background-color: #ff9800;
}

.diff_next {
    background-color: #9e9e9e;
}
